absl-py==2.0.0
accelerate==0.24.1
aiohttp==3.8.6
aioice==0.9.0
aiortc==1.6.0
aiosignal==1.3.1
altair==5.1.2
annotated-types==0.6.0
anyascii==0.3.2
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
av==11.0.0
azure-cognitiveservices-speech==1.34.0
Babel==2.14.0
bangla==0.0.2
blinker==1.7.0
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
Brotli @ file:///Users/ec2-user/ci_py311/brotli-split_1678379922007/work
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.7.22
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_44mvycfmuf/croot/cffi_1700254431144/work
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.4
contourpy==1.2.0
coqpit==0.0.17
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_19sc_35nzq/croot/cryptography_1694211574676/work
cycler==0.12.1
cymem==2.0.8
Cython==3.0.6
dataclasses-json==0.6.1
dateparser==1.1.8
decorator==5.1.1
dnspython==2.4.2
doc==0.1.0
docopt==0.6.2
einops==0.7.0
encodec==0.1.1
fastapi==0.103.2
filelock @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cd61an5em3/croot/filelock_1700591192468/work
Flask==3.0.0
fonttools==4.46.0
frozenlist==1.4.0
fschat==0.2.32
fsspec==2023.12.2
g2pkk==0.1.2
gitdb==4.0.11
GitPython==3.1.40
gmpy2 @ file:///Users/ec2-user/ci_py311/gmpy2_1678380831980/work
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-crc32c==1.5.0
google-generativeai==0.3.1
googleapis-common-protos==1.62.0
GPUtil==1.4.0
greenlet==3.0.1
grpcio==1.60.0
grpcio-status==1.60.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
h11==0.14.0
hangul-romanize==0.1.0
httpcore==1.0.1
httpx==0.25.1
huggingface-hub==0.17.3
idna @ file:///Users/ec2-user/ci_py311/idna_1678315819133/work
ifaddr==0.2.0
importlib-metadata==6.8.0
inflect==7.0.0
itsdangerous==2.1.2
jamo==0.4.1
jieba==0.42.1
Jinja2 @ file:///Users/ec2-user/ci_py311/jinja2_1678317138271/work
joblib==1.3.2
jsonlines==1.2.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
langchain==0.0.327
langcodes==3.3.0
langsmith==0.0.56
lazy_loader==0.3
librosa==0.10.1
llvmlite==0.41.1
Markdown==3.5.1
markdown-it-py==3.0.0
markdown2==2.4.10
MarkupSafe @ file:///Users/ec2-user/ci_py311/markupsafe_1678316973889/work
marshmallow==3.20.1
matplotlib==3.8.2
mdurl==0.1.2
mkl-fft @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_af8wl3mjfu/croot/mkl_fft_1695058185839/work
mkl-random @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_0fq2s894lk/croot/mkl_random_1695059822529/work
mkl-service==2.4.0
mpmath @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_8fyoqwupl2/croot/mpmath_1690848275746/work
msgpack==1.0.7
multidict==6.0.4
murmurhash==1.0.10
mypy-extensions==1.0.0
networkx==3.0
nh3==0.2.14
nltk==3.8.1
num2words==0.5.13
numba==0.58.1
numpy @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_dfryapvjbb/croot/numpy_and_numpy_base_1701362404676/work/dist/numpy-1.26.2-cp311-cp311-macosx_10_9_x86_64.whl#sha256=6c2ae94ce06eb50cf62ae1c3b73f0043bd2835c0fb8b943db65db727cd92c4b6
oauthlib==3.2.2
openai==0.28.1
packaging==23.2
pandas==1.5.3
Pillow @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_18z8l26k8d/croot/pillow_1696580044342/work
platformdirs==4.1.0
pooch==1.8.0
preshed==3.0.9
prompt-toolkit==3.0.40
proto-plus==1.23.0
protobuf==4.23.4
psutil==5.9.6
pyarrow==14.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.11
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.13
pydantic_core==2.10.1
pydeck==0.8.1b0
pydub==0.25.1
pyee==11.1.0
Pygments==2.16.1
pylibsrtp==0.9.1
pynndescent==0.5.11
pynvml==11.5.0
pyOpenSSL @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_7fwdg30481/croot/pyopenssl_1690223429070/work
pyparsing==3.1.1
pypinyin==0.50.0
pysbd==0.3.4
PySocks @ file:///Users/ec2-user/ci_py311/pysocks_1678315868424/work
python-crfsuite==0.9.9
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_37cfd0k_yi/croot/pyyaml_1698096054183/work
referencing==0.30.2
regex==2023.10.3
requests @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_fa2zrx4csg/croot/requests_1690400223595/work
requests-oauthlib==1.3.1
rich==13.6.0
rpds-py==0.10.6
rsa==4.9
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.4
shortuuid==1.0.11
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
soundfile==0.12.1
soxr==0.3.7
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.0
SQLAlchemy==2.0.22
srsly==2.4.8
starlette==0.27.0
streamlit==1.28.0
streamlit-chatbox==1.1.11
streamlit-feedback==0.1.2
streamlit-option-menu==0.3.6
streamlit-webrtc==0.47.1
SudachiDict-core==20230927
SudachiPy==0.6.8
svgwrite==1.4.3
sympy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_94zd__m8ro/croot/sympy_1701397645431/work
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
thinc==8.2.2
threadpoolctl==3.2.0
tiktoken==0.5.1
tokenizers==0.14.1
toml==0.10.2
toolz==0.12.0
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
tornado==6.3.3
tqdm==4.66.1
trainer==0.0.36
transformers==4.34.1
TTS==0.22.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_35a9251r5y/croot/typing_extensions_1690297487409/work
tzdata==2023.3
tzlocal==5.2
umap-learn==0.5.5
Unidecode==1.3.7
urllib3 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_62orwr3pr2/croot/urllib3_1698257564351/work
uvicorn==0.24.0.post1
validators==0.22.0
wasabi==1.1.2
watchdog==3.0.0
wavedrom==2.0.3.post3
wcwidth==0.2.10
weasel==0.3.4
Werkzeug==3.0.1
yarl==1.9.2
zipp==3.17.0
